body{
    background-image: url(https://static.posters.cz/image/750webp/41730.webp);
    background-size: cover;
    margin: 0%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
text-align: center;
color: white;
}

header{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100vw;
}

header nav ul{
    font-size:x-large;
    width: 80vw;
    display: flex;
    list-style-type: none; 
    gap: 4em;
    justify-content: center;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: gray;
}

a:active{
    color: blueviolet;
}

header nav ul li:nth-of-type(3){
    font-size: xx-large;
    color: white;
}

p {
    background-color: white;
    color: black;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: x-large;
    border: solid 2px black;
}

.intcomp {
    background-color: white;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    font-size: x-large;
    border: solid 2px black;
}

.leagues{
    background-color: white;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    font-size: x-large;
    border: solid 2px black; 
}

.listleagues{
    color: blue;
    text-decoration: underline;
}

.listleagues:hover{
    color:rgb(49, 121, 228);
}

img {
    max-width: 15%;
    margin-left: 3%;
}

footer {
    background-color: black;
    min-height: 10vh;
    width: 100vw;
    height: 10%;
    margin-top: auto;
}

img.groter {
margin-left: 25%;
}

.menufotos {
    display: flex;
    color: white;
    font-size: xx-large;
    font-family: fantasy;
    -webkit-text-stroke: 2px black;
    gap: 4vw;
    margin-left: 3%;
    margin-right: 3%; 
    list-style-type: none;   
}

.competities {
    background-image: url(https://www.mancity.com/meta/media/2f4iyq3r/trophy-lift-overlay.jpg?width=1280);
    background-size: cover;
    border: solid red 2px;
    padding-top: 10vh;
    padding-right: 5vw;
    padding-bottom: 10vh;
    padding-left: 5vw;
    
}

.EC {
    background-image: url(https://d2x51gyc4ptf2q.cloudfront.net/content/uploads/2022/05/28231015/Real-Madrid-lift-the-Champions-League.jpg);
    background-size: cover;
    border: solid red 2px;
    padding-top: 10vh;
    padding-right: 5vw;
    padding-bottom: 10vh;
    padding-left: 5vw;
}

.IC {
    background-image: url(https://media-cldnry.s-nbcnews.com/image/upload/t_fit-560w,f_auto,q_auto:best/rockcms/2022-12/221218-argentina-world-cup-trophy-jm-1353-bd9669.jpg);
    background-size: cover;
    border: solid red 2px;
    padding-top: 10vh;
    padding-right: 5vw;
    padding-bottom: 10vh;
    padding-left: 5vw;
}

.Regels {
    background-image: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/07/31/18/red-card.jpg?quality=75&width=990&auto=webp&crop=982:726,smart);
    background-size: cover;
    border: solid red 2px;
    padding-top: 10vh;
    padding-right: 5vw;
    padding-bottom: 10vh;
    padding-left: 5vw;
    
}

.zwarteletters{
    -webkit-text-stroke: 2px black;
}

img.argentinie {
    max-width: 100vw;
    align-items: center;
    height: auto;
    margin-left: 25vw;
    margin-right: 25vw;
    border: solid 2px lightskyblue;
}